name: Deploy to ECS

on:
  push:
    branches:
      -

env:
  AWS_REGION: ap-south-1
  ECR_REPO: 193086215187.dkr.ecr.ap-south-1.amazonaws.com/crud-app
  ECR_CLUSTER: crud-app-cluster
  ECR_SERVICE: crud-app
  CONTAINER_NAME: crud-app

jobs:
 deploy:
   runs-on: ubuntu-latest

   steps:
     - name: Checkout code
       uses: actions/checkout@v4

     - name: Configure AWS credentials
       uses: aws-actions/configure-aws-credentials@v4
       with:
         aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
         aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
         aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
